:root {
  /* Light theme */
  --background: #cce7ff; /* Mellow light blue */
  --foreground: #003366; /* Deep, professional navy */
}

html.dark {
  --background: #002244; /* Deep blue */
  --foreground: #a8cfff; /* Light blue for contrast */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme: Adjusted to maintain a blue palette */
    --background: #002244; /* Deep blue */
    --foreground: #a8cfff; /* Light blue for contrast */
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
